<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>提交请求</title>
</head>

<body>
    <h3>添加用户信息</h3>

    <form action="/getface_native/" method="post">
        <p>姓名：<input type="text" name="username"></p>
        <!-- 用户数据的相关信息 -->
        <p>数据：<input type="text" name="NDB"></p>

        <input type="submit" value="提交全部信息">
    </form>
</body>

</html>